 <table class="mui-body" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <div class="mui-text-center mui-text-caption mui-text-grey">Tell us how we're doing.</div>
    </td>
  </tr>
  <tr>
    <td>
      <center>
        <div class="mui-container">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td class="mui-panel">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <!-- Logo -->
                  <tr>
                    <td>
                      <center>
                        <div class="mui-container cm-logo-background mui-text-center" style={{backgroundColor}}>
                          <a href={[campaign.companyUrl}>
                            <img class="logo" src={{campaign.imageUrl}}>
                          </a>
                        </div>
                      </center>
                    </td>
                  </tr>
                  <!-- /Logo -->

                  <!-- Nps Question -->
                  <tr>
                    <td>
                      <center>
                          <div class="mui-text-display1 mui-text-black cm-nps-question">
                            How likely are you to recommend {{campaign.companyName}} to a friend?
                          </div>
                      </center>
                    </td>
                  </tr>
                  <!-- /Nps Question -->

                  <!-- Voting buttons -->
                  <tr>
                    <td>
                      <center>
                          <div class="voting-buttons">
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">0</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">1</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">2</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">3</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">4</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">5</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">6</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">7</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">8</a>   
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised">9</a>
                            <a href="#" class="mui-btn mui-btn-default mui-btn-raised cm-btn-10">10</a>
                          </div>
                      </center>
                    </td>
                  </tr>
                  <!-- /Voting buttons -->

                  <!-- Voting guide -->
                  <tr>
                    <td>
                      <div class="mui-text-left cm-rating-guide">
                        Not likely
                      </div>
                      <div class="mui-text-right cm-rating-guide">
                        Very likely
                      </div>
                    </td>
                  </tr>
                  <!-- /Voting guide -->

                  <!-- ending-block -->
                  <tr>
                    <td>
                      <center>
                        <div class="mui-container cm-footer mui-text-center" style={{backgroundColor}}>
                          <div class="mui-text-center">
                            <a href="http://chattermill.io" style={{foregroundColor}} class="cm-link">Unsubscribe</a> | <a href="http://chattermill.io" style={{foregroundColor}} class="cm-link">View in browser</a> | <a href="{{replyAddress}}" style={{foregroundColor}} class="cm-link">Contact</a>
                          </div>
                        </div>
                      </center>
                    </td>
                  </tr>
                  <!-- /ending-block -->
                </table>
              </td>
            </tr>
          </table>
        </div>
      </center>
    </td>
  </tr>
  <tr>
    <td>
      <center>
        <div class="mui-container">
          <div class="mui-text-center">
            made with love by <a href="http://chattermill.io" class="cm-link">chattermill</a>
          </div>
        </div>
      </center>
    </td>
  </tr>
</table>