<div class="container">
{{#fm-form action='createCampaign'}}

  {{fm-field type='text' value=model.companyName label='Company name'
  errors=model.errors.companyName.firstObject}}
  {{fm-field type='url' value=model.companyUrl label='Company url'
  errors=model.errors.companyUrl.firstObject}}
  {{fm-field type='text' value=model.fromName label='From name'
  errors=model.errors.fromName.firstObject}}
  {{fm-field type='email' value=model.fromAddress label='From address' errors=model.errors.fromAddress.firstObject}}
  {{fm-field type='email' value=model.replyAddress label='Reply address' errors=model.errors.replyAddress.firstObject}}

  <label>Background Color</label>
  {{col-pick-input value=model.backgroundColor}}
  <div style={{backgroundStyle}}></div>
  
  <label>Foreground Color</label>
  {{col-pick-input value=model.foregroundColor}}
  <div style={{foregroundStyle}}></div>
  
  {{#if showFilePicker}}
    {{ember-filepicker onSelection='fileSelected' onClose='onClose' onError='onError'}}
  {{/if}}
    <button class="btn  btn-default" {{action 'showPicker'}}>Choose logo</button>
     {{fm-submit value='Create campaign'}}
{{/fm-form}}
</div>