
<div class="section">
  <div class="row">
    <div class="col m12 l6">
      {{#md-card title="Design your NPS campaign"}}
        {{#md-card-content}}
          <form {{action "createCampaign" on="submit"}} class="cm-form">
            <div class="row">
              <div class="input-field col s12">
                {{md-input value=model.companyName label='Company name' required=true}}
              </div>
             
            </div>
            <div class="row">
              <div class="input-field col s6">
                {{md-input value=model.fromName label='From name' required=true}}
              </div>
              <div class="input-field col s6">
                {{md-input type="url" value=model.companyUrl label='Company URL' required=true validate=true}}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                {{md-input type="email" value=model.fromAddress label='From Address' required=true  validate=true}}
              </div>
              <div class="input-field col s6">
                {{md-input type="email" value=model.replyAddress label='Reply Address' validate=true required=true}}
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="mdi-av-stop prefix" style={{backgroundStyle}}></i>
                {{col-pick-input value=model.backgroundColor id="cm-background-picker"}}
              </div>
              <div class="input-field col s6">
                <i class="mdi-av-stop prefix" style={{foregroundStyle}}></i>
                {{col-pick-input value=model.foregroundColor id="cm-foreground-picker"}}
              </div>
            </div>

            <div class="row">
             <div class="input-field col s6 center-align">
                {{md-btn text='Choose logo'
                  buttonType='large'
                  icon='mdi-image-camera-alt'
                  action='showPicker'
                  class='deep-purple darken-3 full-width'}}

                {{#if showFilePicker}}
                  {{ember-filepicker pickerOptions=pickerOptions onSelection='fileSelected' onClose='onClose' onError='onError'}}
                {{/if}}
              </div>
              
              <div class="input-field col s6 center-align">
                {{md-btn-submit icon='mdi-content-send'
                  buttonType='large'
                  iconPosition='right'
                  class='pink accent-1 full-width'
                  text='Start campaign'}}       
              </div>
            </div>
          </form>
        {{/md-card-content}}
      {{/md-card}}
    </div>
    <div class="col s12 m12 l6">
      {{#md-card title="Preview"}}
        {{#md-card-content}}
          {{email-preview campaign=model}}
        {{/md-card-content}}
      {{/md-card}}

    </div>
  </div>
</div>