<h2 id="title">Welcome to Ember.js</h2>

{{#if session.isAuthenticated}}
  {{session.currentUser.email}}

  {{ember-selectize
    content= lists
    optionValuePath="content.id"
    optionLabelPath="content.name"
    value=selected
    select-item="selectList"
    placeholder="Select the list you want to survey"}}

    If you like to logout click {{#link-to 'logout'}}here{{/link-to}}

{{else}}


  <button {{action 'authenticate'}}>Login with Mailchimp</button> 
{{/if}}

{{outlet}}
