<div class="container">
  <p>Product name: {{model.companyName}}</p>
  <p>Sent at: {{time-format model.createdAt "MMMM D YYYY"}}</p>
  <p>Number of surveyssent : {{model.numberOfSurveysSent}}</p>
  <p>Number of responses: {{model.numberOfResponses}}</p>
  <p>Response rate: {{percentage model.responseRate}}</p>


  
  <p>Score: {{percentage model.npsScore}}</p>

  {{nps-bar campaign=model}}
   

  {{#fm-form action='searchResponses'}}
    {{fm-field type='text' value=query placeholder='Search'}}
  {{/fm-form}}

{{#if results}}
  <ul>
  {{#each results as |result|}}
    <li>
      {{result.body}}
    </li>
  {{/each}}
  </ul>
{{else}}
  No responses yet.
{{/if}}
  
</div>